/**
 * Bootstrap-media-queries
 * 
 * @media (max-width: 1399.98px) {  xl  }
 * @media (max-width: 1199.98px) {  lg  }
 * @media (max-width: 991.98px)  {  md  }
 * @media (max-width: 767.98px)  {  sm  }
 * @media (max-width: 575.98px)  {  xs  }
 * 
**/


:root {
    --color-blue: #a2d9ff;
    --color-orange: #ffca92;
    --text-on-orange: #5c3a1a;
    --color-purple: #c7b3ff;
    --text-on-purple: #3a2a66;
    --color-red: #ffabab;
    --color-green: #a2ffc1;
    --color-yellow: #fff2a2;
    --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E");
}


/*
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

*/


/*fix*/

.react-datepicker-popper{
    z-index: 9999!important;
}

.onhover:hover {
    cursor: pointer;
}


.accordion-button{
    background-color: transparent!important;
}

.normalize-breadcrumb a {
    text-decoration: none;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}

.normalize-breadcrumb a:hover {
    color: blue!important;
    cursor: pointer;
}



hr { opacity: .15; }
.disabled { opacity: .6}
.selected td { background-color: #6c757d24;}




.z-index-10 {z-index: 10}
.z-index-20 {z-index: 20}

.edit-pic-button{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8%;
    left: 67%;
}

.img-container-nn,
.img-container {
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .img-container-nn img,
  .img-container img {
    width: 95%;
    height: 95%;
    object-fit: cover;
  }


  .img-container::after {
    content: '✕'; /* Icono de X */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Gris transparente */
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Oculto por defecto */
    transition: opacity 0.3s ease;
  }
  
  .img-container:hover::after {
    opacity: 1; /* Se muestra al pasar el mouse */
  }



.profile .profile-small-img {
    height: 135px;
    width: 135px;
} 

.hover-icon{
    opacity: .8;
}

.muted{
    opacity: .3;
    color: #212529bf;
}

.bg-listing-welcome {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 70%;
    background-size: 35%;
}



.hover-icon:hover {
    color: black;
    cursor: pointer;
    opacity: 1 !important;
}

.hover-shadow-link:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);;
}


.hover-color-white:active,
.hover-color-white:hover{
    color: white!important;
}


.white-dark-btn:hover .bi-heart::before  {
   content: '\F415'!important;
}




.text-normalize {
    text-decoration: none;
    color: initial;
}


.hover-link:hover{
    color: #0d6efd;
    cursor: pointer;
}


.no-caret::after{
    display: none!important;
}


.bg-heaven{
    background: url('./bg-heaven.svg') repeat-x;
    background-size: auto;
}

.bg-soft-primary {
    background-color: rgba(13 110 253 / 19%) !important
}

.bg-full-heaven {
    background: 
       linear-gradient(to bottom, #8ed1fc 30vh, transparent 0%), 
       url(/src/styles/bg-heaven.svg) left 29vh;
    background-size: 100% 100%, auto;
    background-repeat: repeat-x;
    height: 100vh;
}

.bg-to-rect{
    background-position: right;
    background: linear-gradient(to bottom, #a2d9ff 65%, white 60%);
}

.bg-deg-rect{
    background: linear-gradient(45deg, #a2d9ff 60%, white 60%);
}

.bg-wave-0{
    background: url('./bg-wave.svg');
    background-size: cover;
    background-position: right;
}



.bg-color-heaven{
    background: #a2d9ff;
}

.bg-gradient-0{
    background: linear-gradient(180deg,
      rgba(255,255,255,0.05),
      rgba(255,255,255,1) 85%),
      radial-gradient(ellipse at top left,
      rgba(13,110,253,0.8),
      transparent 50%),
      radial-gradient(ellipse at top right,
      rgba(255,193,7,0.8),
      transparent 50%),
      radial-gradient(ellipse at center right,
      rgba(111,66,193,0.8),
      transparent 50%),
      radial-gradient(ellipse at center left,
      rgba(214,51,132,0.8),
      transparent 50%)
}


.carousel-control-next,
.carousel-control-prev {
    width: 5%;
}

.truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* ← número de líneas */
    -webkit-box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
  }


.no-focus:focus {
    box-shadow: none !important;
    outline: none !important;
}

.form-error {
    border: 1px solid rgba(255, 0, 0, 0.575);
    border-radius: 0.375rem;
}
.form-error input::placeholder{
    color: rgba(255, 0, 0, 0.575);
    opacity: 1;
}
.form-error input:focus-within{
    border-color: rgba(255, 0, 0, 0.575);
    border-radius: 0.375rem;
}

.custom-input-group:focus-within {
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
    border-color: #86b7fe;
    border-radius: 0.375rem;
}
  

.header-search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #fffffff2;
    z-index: 1050;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.transition {
    transition:  all .5s;
}




@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
  }
  
  .empty-cart-img {
    animation: float 3s ease-in-out infinite;
}


.container,
.container-xl {
    padding-inline: clamp(1rem, 4vw, 3rem)!important;
    /* max-width: 1180px; */
    max-width: 1280px!important;
  }

.multi-col-dropdown-menu {
    /* Define 2 o 3 columnas para el contenido */
    column-count: 2; 
    column-gap: 5.5rem; /* Espacio entre columnas */
    padding: 10px; /* Añade espacio alrededor */
    /* max-width: 500px;  Evita que crezca demasiado */
    width: 100%;
    overflow-y: auto;
}

.multi-col-item {
    /* Mantiene los elementos dentro de su columna */
    break-inside: avoid;
    /* Da espacio extra verticalmente */
    margin: 0.5rem; 
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.toggle-end::after {
    margin-left: auto!important; 
    margin-right: 0.255em; 
}


.pageNotFoundMsg {
    color: rgb(50, 121, 175);
    opacity: 0.8;
    max-width: 71px;
    line-height: 24px;
    height: 53px;
}


.icn-sm { font-size: 3.5rem!important }
.icn-xs { font-size: 3.5rem!important }
.icn-lg { font-size: 4.5rem!important }
.icn-xl { font-size: 5.5rem!important }


.island {
    background: #ffffff;
    border-radius: 16px !important;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.sub-island {
    background: #f9f9f9; /* Contraste suave */
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 16px;
    margin-top: 12px;
}

.cardReview{
    background: #f9f9f9;
    border: 1px solid #eee !important;
    border-radius: 12px;
}

.page404,
.page403 {
    font-size: 6.5625rem; 
    color: rgb(50, 121, 175);
}

.pageForbiddenMsg {
    color: rgb(50, 121, 175);
    line-height: 20px;
    font-size: 38px;
    z-index: 93;
}

.pageNotContentMsg {
    color: rgb(50, 121, 175);
    line-height: 20px;
    font-size: 38px;
    z-index: 93;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(0)!important;
}


.role-pill::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background: green;
    border-radius: 100%;
    margin-right: 5px;
}







@media (max-width: 1399.98px) { /* xl */ }
@media (max-width: 1199.98px) { /* lg */ }
@media (max-width: 991.98px)  { /* md */ }
@media (max-width: 767.98px)  { /* sm */ 
    .multi-col-dropdown-menu{ column-count: 2; }
}
@media (max-width: 575.98px)  { /* xs */ 

    .bg-wave-0{
        background: url('./bg-wave-sm.svg');
         background-size: cover;
         background-position-x: -480px;
    }

}


.h4-5 { font-size: calc(1.125rem + 0.15vw); }

@media (min-width: 1200px) {
    .h4-5 { font-size: 1.375rem; }
}

.tail-dark-2,
.tail-dark,
.tail {
  position: relative;
  display: inline-block;
  padding: 10px;
  background: #f0f0f0;
  border-radius: 5px;
}

.tail-dark::after,
.tail::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f0f0f0;
}

.tail-dark { background: transparent; }
.tail-dark::after {border-top: 10px solid #212529; bottom: 6px;}

.active-fix:active p {
   color: #fff;
}



.form-floating:hover .bi-check,
.form-floating:focus-within .bi-check {
    visibility: hidden !important;
}


/*  Responsive Table  */

 table {
    display: block;
    max-width: 1200px;
    overflow-x: scroll;
}

th:nth-child(1) { width: 35%; }
th:last-child { width: 60px!important; }

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.table-container {
  overflow-x: auto;
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* o auto, según necesites */
}

/* Última columna fija */
th:last-child,
td:last-child {
  position: sticky;
  right: 0;
  background-color: white; /* necesario para tapar las celdas detrás */
  z-index: 1;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* separación visual */
}

th:last-child {
  z-index: 2; /* encima de las celdas del body */
}

tr:last-child {
    border-bottom: transparent;
}



.accordion-button {
    padding: 5px;
}



/* Pills */

.pill-base {
    padding: .0rem .5rem !important;
    padding-bottom: .1rem !important;
    border-radius: 0.5rem;
    font-weight: 500 !important;
    font-size: .80rem !important;
    height: 1rem;
}

.pill-primary {
    background-color: #0d6efd29;
    color: #0d6efd;
}

.pill-secondary {
    background-color: #6c757d29;
    color: #6c757d;
}

.pill-success {
    background-color: #19875429;
    color: #198754;
}

.pill-danger {
    background-color: #dc354529;
    color: #dc3545;
}


.pill-warning {
    background-color: #ffc10729;
    color: #856404;
}

.pill-info {
    background-color: #0dcaf029;
    color: #055160;
}

.pill-light {
    background-color: #f8f9fa29;
    color: #6c757d;
}

.pill-dark {
    background-color: #21252929;
    color: #212529;
}


.pill-success-solid {
    background-color: #198754;
    color: #fff;
}

.pill-dark-solid {
    background-color: #212529;
    color: #fff;
}

.pill-danger-solid {
    background-color: #dc3545;
    color: #fff;
}

.pill-warning-solid {
    background-color: #856404;
    color: #fff;
}


.pill-primary-solid {
    background-color: #0d6efd;
    color: #fff;
}


/* Badge Tails*/

.badge-tooltip {
  position: relative;
  background-color: white;
  border: 1px solid #dee2e6;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

.badge-tooltip::before {
  content: '';
  position: absolute;
  top: 51px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 8px 11px 8px;
  border-style: solid;
  border-color: transparent transparent #dee2e6 transparent; /* color del borde */
  z-index: 10000000;
}

/* Relleno de la cola (tapa el borde de abajo) */
.badge-tooltip::after {
  content: '';
  position: absolute;
  top: 54px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 8px 10px 8px;
  border-style: solid;
  border-color: transparent transparent white transparent; /* color del badge */
  z-index: 10000000;
}

.pointer {
   cursor: pointer;
}

.border-dashed {
   border-style: dashed!important
}
.border-dotted {
   border-style: dotted!important
}

.upload-img:hover{
    border-color: black!important;
    cursor:pointer;
}



/* dashbar */

#content, 
#navbar, 
#dashbar,
#dashbar-button{ transition: margin-left .6s; }

#dashbar {  margin-left: -80px !important ; }

.active-bar #dashbar { margin-left: 0px !important }
.active-bar #dashbar-button { opacity: 0; }

.active-bar #navbar,
.active-bar #content { margin-left: 60px;}

@media (max-width: 767.98px)  { /* sm */
    .active-bar  #navbar,
    .active-bar #content {
         margin-left: auto;
    }
    .active-bar #content {
        margin-bottom: 70px;
    }
} 

.bg-wh01{
    background-color: #ffffff94
}


.ico-hover:hover {
    background-color: #eaeaea;
    border-radius: 18%;
    transition: all .5s;
}


.left-0 { left: 0!important }
.right-0 { right: 0!important }
.vh-50 { height: 50vh!important }
.bg-tint:hover { 
    background-color: rgba(0, 0, 0, 0.1)!important; 
    cursor: pointer;
}



/** FIXES **/

/* 1. Mantiene el label arriba de forma permanente */
.form-floating > .form-control ~ label {
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem) !important;
  opacity: 0.65;
}

.form-floating>.form-control, .form-floating>.form-control-plaintext {
    padding: 1rem .75rem;
    padding-top: 1.625rem!important;
    padding-bottom: .625rem!important;
}

/* 2. Hace visible el placeholder que Bootstrap oculta por defecto */
.form-floating > .form-control::placeholder {
  color: #6c757d !important; /* Color gris estándar de Bootstrap */
  opacity: 1 !important;
}


.bg-opacity-85 { --bs-bg-opacity: 0.85!important   }

.p-3f { padding: 1.20rem!important}

.h-fix-100 { height: 100%!important; }

@media (max-width: 1199.98px) {  
    .h-fix-100 {
        height: auto!important;
    }
}

@media (max-width: 991.98px)  { /* md */ 
    .min-vh-md-70{
        min-height: 70vh!important;
    }
    .bg-heaven{
        background-size: cover;
    }
}